//colors

$body-bckgrnd: #2c2c2c;

//Side Block
$side-bckgrnd: #141414;
$content-bckgrnd: #ffffff;

//Block headlines

$art-clr: #e74c3c;
$about-clr: #f1c40f;
$contact-clr: #27ae60;

//Regular text

$standard: #424a51;
$hovered: #ffffff
